<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>맵</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
<title>side_navigation</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
    /* 피드창 */
    #feed {
        background: #333;
        width: 400px;
        height: 100%;
        top: 0;
        left: -400px;
        position: fixed;
    }
		/* 사이드바 스타일 */
		.sidenav {
			height:100%;
			width: 0;
			position: fixed;
			z-index:1;
			top: 0;
			left: 0;
			background-color: rgb(0,154,200);
			overflow-x: hidden;
			transition:0.5s ease-in-out;
			padding-top: 60px;
		}
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #fff;
			display: block;
			transition: 0.2s ease-in-out;
		}
		.sidenav a:hover, .offcanvas a:focus {
			color: #000;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px !important;
			margin-left: 50px;
		}
		.openmenu:hover {
			color:rgb(0,154,200);
			transition:0.5s ease-in-out;
		}
		.openmenu {
			font-size: 25px;
			cursor:pointer;
			transition:0.5s ease-in-out;
		}
		.openmenu > i {
			font-size: 30px;
		}
		/* 미디어쿼리 적용 */
		@media screen and (max-height:450px) {
			.sidenav {
				padding-top:15px;
			}
			.sidenav a {
				font-size: 18px;
			}
		}
	</style>
  <style>
    .mainarticle{
      display: inline-block;
      align-content: center;
    }
    body {
      font-family: 'Jua', sans-serif !important;
    }
    #sidebar {
      width: 100px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      background: black;
      color: #fff !important;
    }
    #sidebar li {
      color: white !important;
    }
    #sidebar li:hover {
      color: deepskyblue !important;
      text-decoration: none !important;
      cursor: pointer;
    }
    #sidebar a {
      color: white !important;
    }
    #sidebar a:hover {
      color: white !important;
      text-decoration: none;
    }
    article{
      display: block;
    }
  </style>
</head>
<body>
  <!-- Page Content -->
  <div id="vmap" style="widows: 100vw; height: 100vh;"></div>

  <!-- Sidebar -->
  <nav id="sidebar" style="text-align: center;">
    <ul class="list-unstyled components" style="margin-top: 30px;">
      <li class="active">
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <i class="fas fa-shoe-prints" style="font-size: 300%;"></i><p style="margin-top: 10px;"><a href=# id="feedon">피드</a></p>
          </li>
          <li style="margin-top: 10px;">
            <i class="fas fa-sign-in-alt" style="font-size: 300%;"></i><p style="margin-top: 7px;"><a href="#">로그인</a></p>
          </li>
          <li style="margin-top: 10px;">
            <i class="fas fa-user-plus" style="font-size: 300%;"></i><p style="margin-top: 10px;"><a href="#">회원가입</a></p>
          </li>
          <li>
            <button type="button">gogo</button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  
  <aside id="feed">
    <article style="align-content: center;">
      <div class="mainarticle">
        <img src="https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg" width="150" height="100">
      </div>
    </article>
    <ul>
      <li><img src="img1.jpg" width="150" height="100"></li>
      <li><img src="img2.jpg" width="150" height="100"></li>
      <li><img src="img3.jpg" width="150" height="100"></li>
    </ul>
  </aside>

  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=290FB31C-CF30-3B8B-AB6E-99AC09251DBD"></script>
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 <script type="text/javascript">
  vw.ol3.MapOptions = {
      basemapType: vw.ol3.BasemapType.GRAPHIC
    , controlDensity: vw.ol3.DensityType.EMPTY
    , interactionDensity: vw.ol3.DensityType.BASIC
    , controlsAutoArrange: true
    , homePosition: vw.ol3.CameraPosition
    , initPosition: vw.ol3.CameraPosition
   };

  var vmap = new vw.ol3.Map("vmap",  vw.ol3.MapOptions); 
  
  function move(x,y,z) {
   var _center = [ x, y ];
   
   var z = z;
   var pan = ol.animation.pan({
    duration : 2000,
    source : (vmap.getView().getCenter())
   });
   vmap.beforeRender(pan);
   vmap.getView().setCenter(_center);
   setTimeout("fnMoveZoom()", 3000);
  }
  
  function fnMoveZoom() {
   zoom = vmap.getView().getZoom();
   if (16 > zoom) {
    vmap.getView().setZoom(14);
   }
  }

  vmap.on('click', function (evt){ 
    addMarkerLayer(evt.coordinate);
  });

  function addMarkerLayer(input) {
    markerLayer = new vw.ol3.layer.Marker(vmap);
    vmap.addLayer(markerLayer);
    addMarker(input);
}

function addMarker(input) {
  vw.ol3.markerOption = {
  x : input[0],
  y : input[1],
  epsg : "EPSG:900913",
  title : '테스트마커2',
  contents : '테스트마커2 본문내용<br>테스트마커2 본문내용',
  iconUrl : 'http://map.vworld.kr/images/ol3/marker_blue.png', 
  text : {
    offsetX: 0.5, //위치설정
    offsetY: 20,   //위치설정
    font: '12px Calibri,sans-serif',
    fill: {color: '#000'},
    stroke: {color: '#fff', width: 2},
    text: '테스트마커2'
  },
  attr: {"id":"maker02","name":"속성명2"}  
  };
  markerLayer.addMarker(vw.ol3.markerOption);
}
 </script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script type="text/javascript">
    $(function(){
      var duration = 300;

      var $side_feed = $("#feed");
      var $sidebar = $("#sidebar")
		  var $sidebt = $sidebar.find('#feedon').on('click', function(){
			$side_feed.toggleClass('open');

			if($side_feed.hasClass('open')) {
				$side_feed.stop(true).animate({left:'100px'}, duration);
			}else{
				$side_feed.stop(true).animate({left:'-400px'}, duration);
			};
		});
    });
  </script>
</body>
</html>